$main-black: #101114;
$white: #ffffff;
$blue: #005abf;
$lighter-grey: #f7f8f8;
$light-grey: #e4e9ee;
$error: #dc3545;
$success: #28a745;
$grey: #8494ab;
$input-focus: #c8cacf;
$submit-static: #bec6cf;
$submit-hover: #373c43;

$menu-background: #1f2229;
$menu-dark: #2a2d37;

$table-head: #d1d1d1;
$tabe-dark: #1f1f1f;
$table-border: #f0f0f0;
$table-even: #fafafa;

$page-title: #383d43;
$grey-text: #89909d;
